/*
Error: Invalid CSS after "...ia (min-width: ": expected expression (e.g. 1px, bold), was "@screen-lg) {"
        on line 172 of johnson/_navigation.scss
        from line 12 of style.scss

167: 	// 		margin-top: 3em;
168: 	// 	}
169: 	// }
170: }
171: // /* Large devices (large desktops, 1200px and up) *\/
172: @media (min-width: @screen-lg) {
173: 	.navbar-brand {
174: 		font-size: 48px;
175: 	}
176: }

Backtrace:
johnson/_navigation.scss:172
style.scss:12
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:1165:in `expected'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/script/lexer.rb:220:in `expected!'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/script/parser.rb:572:in `assert_expr'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/script/parser.rb:62:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:1025:in `sass_script'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:465:in `query_expr'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:440:in `media_query'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:406:in `media_query_list'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:1077:in `expr!'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:401:in `media_directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:194:in `directive'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:660:in `block_child'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/scss/parser.rb:42:in `parse'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/engine.rb:393:in `_to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/engine.rb:299:in `to_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:313:in `block in visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/stack.rb:88:in `block in with_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/stack.rb:88:in `with_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/stack.rb:79:in `block in with_base'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/stack.rb:115:in `with_frame'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/stack.rb:79:in `with_base'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:489:in `update_stylesheet'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `each'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/sass-3.4.5/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-2.7.11/lib/listen/listener.rb:282:in `call'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-2.7.11/lib/listen/listener.rb:282:in `_process_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-2.7.11/lib/listen/listener.rb:239:in `block in _wait_for_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-2.7.11/lib/listen/listener.rb:222:in `loop'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-2.7.11/lib/listen/listener.rb:222:in `_wait_for_changes'
/Users/mhk33/.rvm/gems/ruby-1.9.3-p194/gems/listen-2.7.11/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...ia (min-width: \": expected expression (e.g. 1px, bold), was \"@screen-lg) {\"\A         on line 172 of johnson/_navigation.scss\A         from line 12 of style.scss\A \A 167: 	// 		margin-top: 3em;\A 168: 	// 	}\A 169: 	// }\A 170: }\A 171: // /* Large devices (large desktops, 1200px and up) */\A 172: @media (min-width: @screen-lg) {\A 173: 	.navbar-brand {\A 174: 		font-size: 48px;\A 175: 	}\A 176: }"; }
