body {
	font-family: $font-family-sans-serif;
	background: $light-gray; // footer color
	// color: black;
}

// Links
// -------------------------

a {
	color: $link-color;
}
a:hover {
	color: $link-color-hover;
}


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
}
.main-text {
	h2:first-child {
		margin-top: 0;
	}
}

// Typography
// -------------------------

p, li {
	font-size: 16px;
}

// Buttons
// -------------------------

.btn {
	border-radius: 0;
	text-decoration: none;
}
.btn-jgsm {
	background: $johnson-red;
	color: white;
}
.btn-jgsm:hover {
	background: black;
	color: white;
}

// Images
// -------------------------
img {
	padding: 3px;
	border: 1px solid $light-gray;
}
.img-left {
	text-align: center;
	margin: 10px 20px 10px 0;
}
.img-right {
	text-align: center;
	margin: 10px 0 20px 10px;
}
.caption {
	font-size: 16px;
	margin-top: .5em;
	color: $light-gray;
}

// Skip to content link
// http://webaim.org/techniques/skipnav/
// ---------------------------------------
#skiptocontent a {
	padding:6px;
	position: absolute;
	top:-40px;
	left:0px;
	color:white;
	border-right:1px solid white;
	border-bottom:1px solid white;
	border-bottom-right-radius:8px;
	background:transparent;
	-webkit-transition: top 1s ease-out, background 1s linear;
    transition: top 1s ease-out, background 1s linear;
    z-index: 100;
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	// smallest devices are on a darker background since we are not displaying the image there; some text elements need to be a darker color on larger devices
	a:hover {
		color: black;
	}
	.caption {
		color: $dark-gray;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
}