// HOURS
// -------------------------

.hours {
	background: white;
	border: 1px solid $tan;
	display: inline-block;
	margin-top: -1px;
	.today-hours {
		float: left;
		padding: 5px;
		span {
			font-size: 14px;
			text-transform: uppercase;
			margin: 0 .75em 0 0;
			font-weight: 700;
			line-height: 1.4em;
		}
		i {
			margin-right: .2em;
		}
	}
	.all-hours-link {
		padding-left: 1em;
		padding: 5px 5px 5px 10px;
	}
	a {
		i {
			color: $medium-gray;
			font-size: 75%;
			margin-left: .5em;
		}
	}
}

// FEATURED CONTENT
// -------------------------
.featured-content {
	padding: 40px 0;
	background: white;
}
.feature {
	@include make-sm-column(6);
	margin-bottom: 2em;
	img {
		max-width: 100%;
		height: auto;
	}
	img.pull-left,
	.pull-left {
		margin: 0 1em 1em 0;
	}
	a {
		i {
			font-size: 75%;
			margin-left: .35em;
			color: $medium-gray;
		}
	}
	p {
		font-size: 16px;
	}
	h3 {
		font-size: 16px;
		text-transform: uppercase;
		margin: 0 0 1em;
	}
	h4 {
		font-size: 22px;
	}
}
.feature-img {
	margin-bottom: 1em;
}

// BOOKS AND JOURNALS SEARCH 
// -----------------------------


// Books and Journals
.single-search {
	.form-group {
		width: 50%;
		float: left;
		margin-right: .25em;
	}
	.form-control {
		width: 100%;
		margin-bottom: 2em;
	}
	.btn-jgsm {
		font-size: 14px !important;
	}
}

// SITE SEARCH
// -------------------------
.page-search {
	.main-text {
		.search-form {
			width: 100%;
		}
	}
	// hide author and last updated date from results
	.search-info {
		display: none;
	}
}


.block-simplesamlphp-auth {
	p {
		margin-bottom: 3em;
	}
}

// BOOTSTRAP OVERRIDES
// -------------------------
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background: $johnson-red;
	text-decoration: none;
}
.nav-pills > li > a {
	border-radius: 0;
}
.page-db-tabs {
	.tab-pane {
		margin: 1em 0;
	}
}


// UI ACCORDION OVERRIDES
// -------------------------
.ui-accordion {
	font-family: $font-family-sans-serif;
	.ui-accordion-header {
		border-radius: 0 !important;
		background-image: none;
	}
	.ui-accordion-content {
		height: auto !important;
	}
}
.ui-widget-content {
	a {
		color: $johnson-red;
		display: inline-block;
		margin: 0 0 .25em;
	}
}

// ADDITIONAL RESOURCES BLOCK
// -------------------------------
#block-menu-block-4 {
	margin-top: 1.5em;
	h2 {
		font-size: 14px;
		margin: 0 0 .5em 10px;
		color: $medium-gray;
		text-transform: uppercase;
	}
}


// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.hours {
		float: right;
		background: $tan;
		border: 1px solid $tan;
		.today-hours {
			padding: 5px 0 5px 5px;
			margin: 5px;
		}
		.all-hours-link {
			border-left: 1px solid $pale-tan;
			float: left;
			margin: 5px;
		}
	}
	.page-search {
		.main-text {
			.search-form {
				width: 50%;
			}
		}
	}
	#block-menu-block-4 {
		h2 {
			margin: 0 0 .5em 0;
		}
	}
	.single-search {
		.form-group {
			width: 75%;
		}
	}
	#block-menu-block-4 {
		margin-top: 3em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}