.header-search {
	margin: 10px 0;
	form {
		float: right;
		width: 100%;
	}
}

.cornell-brand {
	background: white;
	font-family: $cornell-font;
	padding: 10px 0;
	img {
		border: 0;
	}
	.header-search {
		margin-top: 20px;
	}
}
.cornell-logo {
	@include make-xs-column(6);
	padding-left: 0;
}
.cu-logo {
	display: block;
	background: url("../img/layout/johnson-cornell.gif") no-repeat 0 0;
	width: 228px;
	height: 73px;
	a {
		display: block;
		border: none;
		text-indent: -1000em;
		text-decoration: none;
	}
	a#insignia-link {
		float: left;
		width: 72px;
		height: 72px;
	}
	img { display: none; }
	.unit-signature-links { 
		float: left;
	}
	a#cornell-link {
		left: 68px;
		height: 20px;
	}
	a#unit-link {
		top: 38px;
		height: 45px;
		width: 155px;
	}
}
.search-box {
	.btn-mobile {
		float: right;
		border: 0;
		border-radius: 0;
		margin-top: .3em;
		i {
			color: $cornell-primary;
			font-size: 18px;
		}
	}
	.btn:hover {
		background: white;
	}
}
.header-search {
	margin: 10px 0;
	form {
		float: right;
		width: 100%;
	}
	.btn:focus {
		box-shadow: none;
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.search-box {
		.btn-mobile {
			margin-top: 1.5em;
			display: none;
		}
	}
	.header-search {
		form {
			width: 40%;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}

