
// DATABASES PAGE
// -----------------------------------
.page-db-popular,
.page-db-search {
	margin-bottom: 2em;
	border-bottom: 1px solid $light-gray;
	padding-bottom: 1.5em;
}
.item-list {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			font-size: 18px;
			margin: 0 0 .5em;
		}
		a {
			// color: $dark-gray;
			i {
				font-size: 75%;
				margin-left: .5em;
				color: $johnson-red;
			}
		}
	}
}
.database-item,
.faq-item {
	padding: 1.5em 0;
	border-bottom: 1px solid $light-gray;
	h2, h3 {
		font-size: 24px;
		margin-top: 0;
	}
}
.view-database-topics {
	.database-item {
		padding: .5em 0;
		h2 {
			font-size: 20px;
			margin-bottom: .15em;
		}
		.connect-link {
			font-size: 14px;
			margin-left: 1em;
		}
	}
}
.faq-item {
	padding: 1em 0 .5em 0;
	h3 {
		font-size: 18px;
	}
}
.faq-item:first-child {
	padding-top: 1.5em;
}
.db-label {
	font-weight: bold;
}
.db-description,
.db-availability {
	margin-bottom: .5em;
}
.db-topics {
	margin-bottom: 1em;
	.label-topic {
		color: $dark-gray;
		font-size: 14px;
		text-decoration: none;
	}
}
// page search box width; NOTE THIS REMOVES AUTOCOMPLETE SPINNER (due background image and padding/height rules)
.page-db-search {
	#db_search {
			width: 75%;
			//force bootstrap style on db search box
			display: inline-block;
		  	height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		  	padding: $padding-base-vertical $padding-base-horizontal;
		  	font-size: $font-size-base;
		  	line-height: $line-height-base;
		  	color: $input-color;
		  	background-color: $input-bg;
		  	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		  	border: 1px solid $input-border;
		  	border-radius: $input-border-radius;
		  	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
		  	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

		  	// Customize the `:focus` state to imitate native WebKit styles.
		  	@include form-control-focus();

		  	// Placeholder
		  	@include placeholder();

		  	// Disabled and read-only inputs
		  	//
		  	// HTML5 says that controls under a fieldset > legend:first-child won't be
		  	// disabled if the fieldset is disabled. Due to implementation difficulty, we
		  	// don't honor that edge case; we style them as disabled anyway.
		  	&[disabled],
		  	&[readonly],
		  	fieldset[disabled] & {
		    cursor: not-allowed;
		    background-color: $input-bg-disabled;
		    opacity: 1; // iOS fix for unreadable disabled content
		}

		// [converter] extracted textarea& to textarea.form-control
	}
}


// DATABASE SEARCH RESULTS
// -----------------------------------
.views-exposed-form .views-exposed-widget .form-submit {
	margin-top: 0;
}
// search box width
#views-exposed-form-databases-search-page-2 {
	.views-widget-filter-field_description_value {
		width: 50%;
	}
	// format search button to look like btn-jgsm
	.btn-primary {
		background: $johnson-red;
		border: 1px solid transparent;
	}
	.btn-primary:hover {
		background: black;
	}
}
.connect-link {
	i {
		margin-left: .4em;
	}
}

// DATABASE AND FAQ NODE TEMPLATE
// -----------------------------------

// add label styles to topic tag on node template
.topic-list {
	a {
		color: $dark-gray;
		display: inline;
		padding: .2em .6em .3em;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em;
		font-size: 14px;
		background: $light-gray;
		font-weight: normal;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
		background: $cornell-primary;
		color: white;
	}
	.field-item {
		display: inline-block;
		margin: 0 5px 10px 0;
	}
}
.db-field,
.faq-field {
	margin-bottom: 1em;
}
.db-availability {
	.field-items {
		font-size: 18px;
	}
}
// Give the Connect button the same styling as .btn-jgsm
.db-url {
	a {
		background: $johnson-red;
		color: white;
		display: inline-block;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		padding: 6px 12px;
		// text-transform: capitalize;
		font-size: 18px;
		text-decoration: none;
	}
	a:hover {
		background: black;
		color: white;
		text-decoration: none;
	}
}
.connectlink {
	i {
		font-size: 75%;
		margin-left: .5em;
	}
}

// Status list
.status-list {
	margin-bottom: 1em;
	i {
		width: 1.5em;
		text-align: center;
	}
}

// Connect well
.connect-box {
	float: none !important;
	padding: 0;
}


// MEDIA QUERIES
// -------------------------

// Small devices (tablets, 768px and up)
@media (min-width: $screen-sm) {
	.connect-box {
		float: right !important;
		padding-left: 15px;
		padding-right: 15px;
	}
}

// Medium devices (desktops, 992px and up)
// @media (min-width: $screen-md) {

// }