// Drupal overrides
//--------------------//

body.admin-menu { padding-top: 0 !important; }

#admin-menu li { font-size: 12px; }

// # of reads
.statistics_counter {
	font-size: 16px;
	padding: 4px 8px !important;
	background: $light-gray;
	margin-top: 1em;
}

// Webform
//--------------------//
.webform-client-form {
	margin: 2em 0;
	label {
		font-size: 18px;
	}
}
.webform-component {
	margin: 0 0 1em;
}