// Drupal overrides
//--------------------//

body.admin-menu { padding-top: 0 !important; }

#admin-menu li { font-size: 12px; }

// # of reads
.statistics_counter {
	font-size: 16px;
	padding: 4px 8px !important;
	background: $medium-gray;
	margin-top: 1em;
	color: white;
}