// BACKGROUND IMAGE
// -------------------------


// HOME PAGE
// -------------------------

.jumbotron {
	background: $cornell-gray;
	color: white;
	padding: 30px 15px;
	h1 {
		font-size: 40px;
		color: black;
	}
	p {
		font-size: 28px;
	}
	.btn-tarr {
		font-size: 18px;
	}
}
.intro-text {
	@include make-sm-column(10);
	@include make-sm-column-offset(1);
	margin-top: 2em;
	.btn-tarr {
		margin-right: 5px;
	}
}

// BRANDING and NAV
// -------------------------
.brand {
	@include make-sm-column(6);
}
.navigation {
	@include make-sm-column(6);
}

// SUB PAGES
// -------------------------
.sidebar {
	@include make-sm-column(3);
	padding: 3em 0;
}
.main-text {
	@include make-sm-column(8);
	@include make-sm-column-offset(1);
	padding: 3em 0;
}
.main-content {
	background: white;
}
.page-header {
	margin: 0;
	background: $tan;
	border: none;
	padding: 20px;
	h1 {
		color: white;
		font-size: 48px;
		margin: 0;
		line-height: 1;
		font-family: $font-family-sans-serif;
	}
}
.breadcrumb {
	background: inherit;
	border-radius: 0;
	padding: 0;
	margin-bottom: 10px;
	li {
		font-size: 14px;
	}
	a {
		color: #605648;
	}
	li.active {
		color: black;
		font-weight: 700;
	}
}

// FOOTER
// -------------------------
footer {
	border-top: solid 1px #d1d1d2;
	background: $light-gray;
	padding: 2em 0 3em;
	p { font-size: 16px; }
	.footer-block {
		@include make-sm-column(3);
	}
	.block-title {
		text-transform: uppercase;
		font-size: 16px;
		font-family: $font-family-sans-serif;
	}
	.nav {
		margin: 0 0 2em 0;
		padding: 0;
		li {
			border-bottom: solid 1px #d1d1d1;
		}
	}
	.nav > li > a {
		padding: 5px 0;
		color: #848484;
	}
	.nav > li > a:hover {
		background: inherit;
		color: black;
		text-decoration: underline;
	}
	.login-link {
		margin: 2em 0;
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.image-wrapper {
		background: url("../img/banner.jpg") no-repeat center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		margin-bottom: 0;
		border-radius: 0;
		min-height: 175px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}