// BRANDING
// -------------------------

.navbar-brand, .navbar-brand:hover {
	font-size: 29px;
	text-transform: uppercase;
	margin: .5em 0 0 0;
	float: none;
	display: block;
	text-decoration: none;
	color: black;
	padding: .25em 0;
	line-height: 1em;
	height: auto;
}
.slogan {
	color: $dark-gray;
	font-size: 18px;
	font-style: italic;
	margin-bottom: 1em;
}
.navbar {
	.nav {
		margin-top: 1em;
		li {
			font-size: 16px;
			text-transform: uppercase;
			margin-right: .25em;
			float: left;
			a {
				color: $dark-gray;
				text-decoration: none;
				background: rgba(255, 255, 255, 0.9);
				i {
					font-size: 14px;
					color: $medium-gray;
					margin-left: 5px;
				}
			}
			a:hover {
			}
		}
		li.active {
			a, a:hover {
			}
		}
	}
}
.navbar-toggle {
	font-size: 16px;
	border-radius: 0;
	color: $johnson-red;
	padding: 0;
}
.navbar-nav {
	float: right;
}

// MOBILE MAIN NAVIGATION
// -------------------------
.nav-mobile {
	.navbar-nav {
		float: none;
		margin: 0;
	}
	.nav > li > a {
		background: #d4d4d4;
		border-bottom: 1px solid #959696;
		padding: 8px 15px;
		text-transform: uppercase;
		color: black;
		font-size: 16px
	}
}

// SIDEBAR NAVIGATION
// -------------------------
.sidebar {
	.block-title {
		margin-bottom: 0;
		a {
			background: #dbdbdc;
			color: black;
			font-size: 16px;
			padding: 10px 15px;
			display: block;
		}
		a:hover {
			text-decoration: none;
		}
	}
	.nav > li > a {
		border-bottom: solid 1px #d3d2d2;
	}
	.nav > li > a:hover {
		background: inherit;
		text-decoration: underline;
	}
	.active, .active-trail {
		a {
			color: black;
			font-weight: 700;
		}
	}
	li {
		font-size: 16px;
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.sidebar-collapse.collapse {
		display: block;
	}
	.navigation-collapse {
		padding-right: 0;
	}
	.navbar-brand,
	.navbar-brand:hover {
		color: white;
		text-shadow: 2px 2px 0px rgba(63, 63, 63, 1);
		font-size: 34px;
		margin-bottom: 0;
		height: 50px;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 0;
	}
	.slogan {
		margin-right: 5em;
		margin-bottom: 0;
		text-align: right;
		color: white;
		text-shadow: 2px 2px 0px #3f3f3f;
	}
	.hours {
		font-size: 90%;
	}
	.nav > li > a {
		padding: 4px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {
	.nav > li > a {
		padding: 5px 15px;
	}
}
// /* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg) {
	.navbar-brand,
	.navbar-brand:hover {
		font-size: 48px;
		margin-bottom: .25em;
	}
	.slogan {
		margin-right: 4em;
	}
}
