// TOPICS
// -------------------------
.topic {
	font-size: 18px;
	margin: 0 0 .25em 0;
}
// .topic-list {
// 	ul {
// 		li {
// 			float: left;
// 			padding-right: .5em;
// 		}
// 	}
// }
.label-topic {
	background: $light-gray;
	font-weight: normal;
	font-size: 12px;
}
.label-topic:hover,
.label-topic:active {
	background: $cornell-primary;
	color: white;
}

// add label styles to topic tag on node template
.topic-list {
	a {
		color: $dark-gray;
		display: inline;
		padding: .2em .6em .3em;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em;
		font-size: 14px;
		background: $light-gray;
		font-weight: normal;
	}
	a:hover {
		text-decoration: none;
		background: $cornell-primary;
		color: white;
	}
	.field-item {
		display: inline-block;
		margin: 0 5px 10px 0;
	}
}

// SimpleSAML login
// -------------------------
.block-simplesamlphp-auth {
	h2 {
		margin-top: 1em !important;  
	}
}

// LIST OF CONTENT WITH TAGS, like GUIDES
// ----------------------------------------
.content-list {
	border-bottom: 1px solid $light-gray;
	margin: 1em 0;
	overflow: hidden;
	h4 {
		font-weight: normal;
		margin: 0 .5em .75em 0;
		float: left; 
	}
	.label-topic {
		color: $dark-gray;
	}
}