// TOPICS
// -------------------------
.topic {
	font-size: 18px;
	margin: 0 0 .25em 0;
}
// .topic-list {
// 	ul {
// 		li {
// 			float: left;
// 			padding-right: .5em;
// 		}
// 	}
// }
.topic-list a, // to target taxonomy term on  node template
.label-topic {
	background: $light-gray;
	font-weight: normal;
	font-size: 12px;
}
.topic-list a, // to target taxonomy term on  node template
.topic-list a:hover,
.label-topic:hover,
.label-topic:active {
	background: $cornell-primary;
	color: white;
}

// SimpleSAML login
// -------------------------
.block-simplesamlphp-auth {
	h2 {
		margin-top: 1em !important;  
	}
}

// LIST OF CONTENT WITH TAGS, like GUIDES
// ----------------------------------------
.content-list {
	border-bottom: 1px solid $light-gray;
	margin: 1em 0;
	overflow: hidden;
	h4 {
		font-weight: normal;
		margin: 0 .5em .75em 0;
		float: left; 
	}
	.label-topic {
		color: $dark-gray;
	}
}