// TOPICS
// -------------------------
.topic {
	font-size: 18px;
	margin: 0 0 .25em 0;
}
.topic-list {
	ul {
		li {
			float: left;
			padding-right: .5em;
		}
	}
}
.label-topic {
	background: $light-gray;
	font-weight: normal;
	font-size: 12px;
}
.label-topic:hover,
.label-topic:active {
	background: $cornell-primary;
	color: white;
}

// SimpleSAML login
// -------------------------
.block-simplesamlphp-auth {
	h2 {
		margin-top: 2em;
	}
}