// TOPICS
// -------------------------
.topic {
	font-size: 18px;
	margin: 0 0 .25em 0;
}
// .topic-list {
// 	ul {
// 		li {
// 			float: left;
// 			padding-right: .5em;
// 		}
// 	}
// }
.label-topic {
	background: $light-gray;
	font-weight: normal;
	font-size: 12px;
}
.label-topic:hover,
.label-topic:active {
	background: $cornell-primary;
	color: white;
}

// DATABASES PAGE
// -----------------------------------
.page-db-popular,
.page-db-search {
	margin-bottom: 2em;
	border-bottom: 1px solid $light-gray;
	padding-bottom: 1.5em;
}
.page-node-258 {
	h2 {
		font-size: 24px;
	}
}
.item-list {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			font-size: 18px;
			margin: 0 0 .5em;
		}
		a {
			// color: $dark-gray;
			i {
				font-size: 75%;
				margin-left: .5em;
				color: $johnson-red;
			}
		}
	}
}
.database-item {
	padding: 1.5em 0;
	border-bottom: 1px solid $light-gray;
}
.db-label {
	font-weight: bold;
}
.db-description,
.db-availability {
	margin-bottom: .5em;
}
.db-topics {
	margin-bottom: 1em;
	.label-topic {
		color: $dark-gray;
		font-size: 14px;
	}
} 
// page search box width; NOTE THIS REMOVES AUTOCOMPLETE SPINNER (due background image and padding/height rules)
.page-db-search {
	#db_search {
			width: 75%;
			//force bootstrap style on db search box
			display: inline-block;
		  	height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
		  	padding: $padding-base-vertical $padding-base-horizontal;
		  	font-size: $font-size-base;
		  	line-height: $line-height-base;
		  	color: $input-color;
		  	background-color: $input-bg;
		  	background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		  	border: 1px solid $input-border;
		  	border-radius: $input-border-radius;
		  	@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
		  	@include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

		  	// Customize the `:focus` state to imitate native WebKit styles.
		  	@include form-control-focus();

		  	// Placeholder
		  	@include placeholder();

		  	// Disabled and read-only inputs
		  	//
		  	// HTML5 says that controls under a fieldset > legend:first-child won't be
		  	// disabled if the fieldset is disabled. Due to implementation difficulty, we
		  	// don't honor that edge case; we style them as disabled anyway.
		  	&[disabled],
		  	&[readonly],
		  	fieldset[disabled] & {
		    cursor: not-allowed;
		    background-color: $input-bg-disabled;
		    opacity: 1; // iOS fix for unreadable disabled content
		}

		// [converter] extracted textarea& to textarea.form-control
	}
}


// DATABASE NODE TEMPLATE
// -----------------------------------

// add label styles to topic tag on node template
.topic-list {
	a {
		color: $dark-gray;
		display: inline;
		padding: .2em .6em .3em;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em;
		font-size: 14px;
		background: $light-gray;
		font-weight: normal;
	}
	a:hover {
		text-decoration: none;
		background: $cornell-primary;
		color: white;
	}
	.field-item {
		display: inline-block;
		margin: 0 5px 10px 0;
	}
}
.db-field {
	margin-bottom: 1em;
}
.db-availability {
	.field-items {
		font-size: 18px;
	}
}
// Give the Connect button the same styling as .btn-jgsm
.db-url {
	a {
		background: $johnson-red;
		color: white;
		display: inline-block;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		padding: 6px 12px;
		text-transform: capitalize;
		font-size: 18px;
	}
	a:hover {
		background: black;
		color: white;
		text-decoration: none;
	}
}


// SimpleSAML login
// -------------------------
.block-simplesamlphp-auth {
	h2 {
		margin-top: 1em !important;  
	}
}

// LIST OF CONTENT WITH TAGS, like GUIDES
// ----------------------------------------
.content-list {
	border-bottom: 1px solid $light-gray;
	margin: 1em 0;
	overflow: hidden;
	h4 {
		font-weight: normal;
		margin: 0 .5em .75em 0;
		float: left; 
	}
	.label-topic {
		color: $dark-gray;
	}
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.page-db-search {
		#db_search {
			width: 40%;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}
