// TOPICS
// -------------------------
.topic {
	font-size: 18px;
	margin: 0 0 .25em 0;
}
// .topic-list {
// 	ul {
// 		li {
// 			float: left;
// 			padding-right: .5em;
// 		}
// 	}
// }
.label-topic {
	background: $light-gray;
	font-weight: normal;
	font-size: 12px;
}
.label-topic:hover,
.label-topic:active {
	background: $cornell-primary;
	color: white;
}

// DATABASES PAGE
// -----------------------------------
.page-db-popular,
.page-db-search {
	margin-bottom: 2em;
	border-bottom: 1px solid $light-gray;
	padding-bottom: 1.5em;
}
.page-node-258 {
	h2 {
		font-size: 24px;
	}
}


// DATABASE NODE TEMPLATE
// -----------------------------------

// add label styles to topic tag on node template
.topic-list {
	a {
		color: $dark-gray;
		display: inline;
		padding: .2em .6em .3em;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em;
		font-size: 14px;
		background: $light-gray;
		font-weight: normal;
	}
	a:hover {
		text-decoration: none;
		background: $cornell-primary;
		color: white;
	}
	.field-item {
		display: inline-block;
		margin: 0 5px 10px 0;
	}
}
.db-field {
	margin-bottom: 1em;
}
.db-availability {
	.field-items {
		font-size: 18px;
	}
}
// Give the Connect button the same styling as .btn-jgsm
.db-url {
	a {
		background: $johnson-red;
		color: white;
		display: inline-block;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		padding: 6px 12px;
		text-transform: capitalize;
		font-size: 18px;
	}
	a:hover {
		background: black;
		color: white;
		text-decoration: none;
	}
}


// SimpleSAML login
// -------------------------
.block-simplesamlphp-auth {
	h2 {
		margin-top: 1em !important;  
	}
}

// LIST OF CONTENT WITH TAGS, like GUIDES
// ----------------------------------------
.content-list {
	border-bottom: 1px solid $light-gray;
	margin: 1em 0;
	overflow: hidden;
	h4 {
		font-weight: normal;
		margin: 0 .5em .75em 0;
		float: left; 
	}
	.label-topic {
		color: $dark-gray;
	}
}