@font-face {
	font-family: 'PFDinTextPro';
	src: url('../fonts/Parachute-PFDinTextPro-Regular.otf');
	src: url('../fonts/Parachute-PFDinTextPro-BoldItalic.otf');
	src: url('../fonts/Parachute-PFDinTextPro-Bold.otf');
	src: url('../fonts/Parachute-PFDinTextPro-Italic.otf');
}
