// RESERVES - override module styles and add bootstrappy-ness
// -----------------------------------------------------------

.courselist-form {
	.form-select {
	  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
	  padding: $padding-base-vertical $padding-base-horizontal;
	  font-size: $font-size-base;
	  line-height: $line-height-base;
	  color: $input-color;
	  background-color: $input-bg;
	  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
	  border: 1px solid $input-border;
	  border-radius: $input-border-radius;
	  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
	  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

	  // Customize the `:focus` state to imitate native WebKit styles.
	  @include form-control-focus();

	  // Placeholder
	  @include placeholder();

	  // Disabled and read-only inputs
	  //
	  // HTML5 says that controls under a fieldset > legend:first-child won't be
	  // disabled if the fieldset is disabled. Due to implementation difficulty, we
	  // don't honor that edge case; we style them as disabled anyway.
	  &[disabled],
	  &[readonly],
	  fieldset[disabled] & {
	    cursor: not-allowed;
	    background-color: $input-bg-disabled;
	    opacity: 1; // iOS fix for unreadable disabled content
	  }
	}
}
.course-reserves {
	  width: 100%;
	  max-width: 100%;
	  margin-bottom: $line-height-computed;
	  // Cells
	  > thead,
	  > tbody,
	  > tfoot {
	    > tr {
	      > th,
	      > td {
	        padding: $table-cell-padding;
	        line-height: $line-height-base;
	        vertical-align: top;
	        border-bottom: 1px solid $table-border-color;
	      }
	    }
	  }
	  // Bottom align for column headings
	  > thead > tr > th {
	    vertical-align: bottom;
	    border-bottom: 2px solid $table-border-color;
	  }
	  // Remove top border from thead by default
	  > caption + thead,
	  > colgroup + thead,
	  > thead:first-child {
	    > tr:first-child {
	      > th,
	      > td {
	        border-top: 0;
	      }
	    }
	  }
	  // Account for multiple tbody instances
	  > tbody + tbody {
	    border-top: 2px solid $table-border-color;
	  }

	  // Add responsiveness
	  @media screen and (max-width: $screen-xs-max) {
	    width: 100%;
	    margin-bottom: ($line-height-computed * 0.75);
	    overflow-y: hidden;
	    overflow-x: auto;
	    -ms-overflow-style: -ms-autohiding-scrollbar;
	    border: 1px solid $table-border-color;
	    -webkit-overflow-scrolling: touch;

	    // Tighten up spacing
	    > .table {
	      margin-bottom: 0;

	      // Ensure the content doesn't wrap
	      > thead,
	      > tbody,
	      > tfoot {
	        > tr {
	          > th,
	          > td {
	            white-space: nowrap;
	          }
	        }
	      }
	    }
	  }
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: $pale-tan;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: white;
	border: 0;
	border-bottom: 3px solid $tan;
}
.reserve-items {
	h3 {
		margin: 2em 0 1em;
	}
}
.block-ares {
	margin-top: 1em;
}