// RESOURCE TABS
// -------------------------
.resource-tabs {
	.nav-tabs {
		border-bottom: 0;
		margin-bottom: 0;
		li {
			font-size: 20px;
			i {
				font-size: 75%;
				margin-left: .5em;
			}
		}
		// this whole part forces tab styling on sub pages, when using databases menu in region
		.nav > li > a {
			padding: 15px 20px;
			border-radius: 0;
			border: 0;
			text-decoration: none;
			color: $charcoal-gray;
			background: $pale-tan;
			margin-right: 0;
		}
		.nav > li > a:hover {
			color: black;
		}
		.nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
			border: 0;
			color: black;
			background: white;
		}
		.nav > li {
			float: left;
		}
	}
	.nav-tabs > li > a {
		padding: 15px 20px;
		border-radius: 0;
		border: 0;
		text-decoration: none;
		color: $charcoal-gray;
		background: $pale-tan;
		margin-right: 0;
	}
	.nav-tabs > li > a:hover {
		color: black;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border: 0;
		color: black;
		background: white;
	}
}
.resource-content,
.panel {
	background: $pale-tan;
	.tab-pane {
		background: white;
		padding: 1.5em 0;
	}
	.tab-content,
	.panel-body {
		.gutter {
			padding: 10px 0;
		}
		h2 {
			font-size: 16px;
			text-transform: uppercase;
			margin: 0 0 1em 0;
		}
		h2.search-header {
			text-transform: none;
			font-size: 20px;
			font-weight: normal;
		}
		.btn-jgsm {
			font-size: 18px;
			margin: 0 0 .5em .5em;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				font-size: 18px;
				margin: 0 0 .5em;
			}
			a {
				// color: $dark-gray;
				i {
					font-size: 75%;
					margin-left: .5em;
					color: $medium-gray;
				}
			}
		}
		.form-control {
			margin-bottom: 2em;
			width: 100%;
		}
	}
}
.front {
	.tab-content {
		margin-bottom: 1.5em;
	}
}

// Databases
#databases-collapse,
#databases {
	.btn-search {
		font-size: 14px !important;
	}
}
#databases,
#databases-collapse {
	.col-sm-4 {
		h2 {
			margin-top: 2em;
		}
	}
}
#databases,
#databases-collapse {
	.col-sm-4 {
		h2:first-child {
			margin-top: 0;
		}
	}
}

// Mobile accordion display
.panel-heading {
	.fa-chevron-down {
		margin-left: .5em;
		font-size: 80%;
		color: $johnson-red;
	}
}
.panel-title {
	font-size: 18px;
}
.panel-body {
	background: white;
}

// Popular topics labels
.popular-topics {
	overflow: hidden;
	li {
		float: left;
		margin: 0 5px 10px 0 !important;
	}
	a {
		font-size: 16px;
		color: $dark-gray;
	}
	.all-topics {
		color: $johnson-red;
	}
}

// See all buttons
.see-all {
	margin: 2em 0 0 0;
}

// MEDIA QUERIES
// -------------------------

	// /* Extra small devices (phones, up to 480px) */
	// /* No media query since this is the default in Bootstrap */

	// /* Small devices (tablets, 768px and up) */
	// @media (min-width: @screen-sm) { ... }

	// /* Medium devices (desktops, 992px and up) */
	// @media (min-width: @screen-md) { ... }

	// /* Large devices (large desktops, 1200px and up) */
	// @media (min-width: @screen-lg) { ... }


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm) {
	.resource-content,
	.panel {
		.tab-content,
		.panel-body {
			.gutter {
				padding: 20px;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md) {

}

