// RESOURCE TABS
// -------------------------
.resource-tabs {
	.nav-tabs {
		border-bottom: 0;
		margin-bottom: 0;
		li {
			font-size: 20px;
			i {
				font-size: 75%;
				margin-left: .5em;
			}
		}
		// this whole part forces tab styling on sub pages, when using databases menu in region
		.nav > li > a {
			padding: 15px 20px;
			border-radius: 0;
			border: 0;
			text-decoration: none;
			color: $charcoal-gray;
			background: $pale-tan;
			margin-right: 0;
		}
		.nav > li > a:hover {
			color: black;
		}
		.nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
			border: 0;
			color: black;
			background: white;
		}
		.nav > li {
			float: left;
		}
	}
	.nav-tabs > li > a {
		padding: 15px 20px;
		border-radius: 0;
		border: 0;
		text-decoration: none;
		color: $charcoal-gray;
		background: $pale-tan;
		margin-right: 0;
	}
	.nav-tabs > li > a:hover {
		color: black;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border: 0;
		color: black;
		background: white;
	}
}
.resource-content,
.panel {
	background: $pale-tan;
	.tab-pane {
		background: white;
		padding: 1.5em 0;
	}
	.tab-content,
	.panel-body {
		.gutter {
			padding: 20px;
		}
		h2 {
			font-size: 16px;
			text-transform: uppercase;
			margin: 0 0 1em 0;
		}
		h2.search-header {
			text-transform: none;
			font-size: 20px;
			font-weight: normal;
		}
		.btn-jgsm {
			font-size: 18px;
			margin: 0 0 .5em .5em;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				font-size: 18px;
				margin: 0 0 .25em;
			}
			a {
				color: $dark-gray;
				i {
					font-size: 75%;
					margin-left: .5em;
					color: $johnson-red;
				}
			}
			// add Font Awesome chevron-right to tab li links
			a:after {
				content: "\f054";
			}
		}
		.form-control {
			margin-bottom: 2em;
		}
	}
}
.front {
	.tab-content {
		margin-bottom: 1.5em;
	}
}
// Books and Journals
.books-search {
	.form-group {
		width: 75%;
		float: left;
		margin-right: .25em;
	}
	.btn-jgsm {
		font-size: 14px !important;
	}
}


$fa-var-chevron-right: "\f054";