// Cornell brand
// -------------------------
$cornell-primary: #b31b1b;
$cornell-primary-hover: #990f26;
$cornell-font: verdana, sans-serif;
$cornell-blue: #6eb4cd;
$cornell-blue-border: #4892ac;
$cornell-medium-blue: #0068ac;
$cornell-process-blue: #0093d0;
$cornell-khaki: #998c7c;
$cornell-gray: #4d4e53;

// Other colors
// -------------------------

$johnson-red: #b41b1d;

$dark-gray: #333;
$charcoal-gray: #686868;
$medium-gray: #999;
$light-gray: #ececed;
$ice-blue: #05b7c7;
$light-ice-blue: #abe4e9;
$dark-ice-blue: #049dab;

$pale-tan: #efede9;
$tan: #cbc3b7;

// Links
// -------------------------

$link-color: $johnson-red;
$link-color-hover: #2e2e2e;


// Bootstrap overrides
// -------------------------

$font-family-sans-serif:  'pf_dintext_proregular', arial, san-serif;
$font-family-bold: 'pf_dintext_probold';
$font-family-italic: 'pf_dintext_proitalic';